<h1 mat-dialog-title>Unesi novu rezervaciju</h1>
<div mat-dialog-content>
  <form [formGroup]="form"
        *ngIf="codebooks$ | async as codebooks">
    <ng-container [formGroup]="form.controls.clientInsert">
      <mat-form-field class="full-width">
        <mat-label>OIB klijenta</mat-label>
        <input matInput
               type="text"
               formControlName="clientNationalId">
        <mat-error>
          Ovo je obavezno polje
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Ime klijenta</mat-label>
        <input matInput
               type="text"
               formControlName="clientFirstName">
        <mat-error>

        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Prezime klijenta</mat-label>
        <input matInput
               type="text"
               formControlName="clientLastName">
        <mat-error>

        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Broj mobitela</mat-label>
        <input matInput
               type="text"
               formControlName="clientPhoneNumber">
        <mat-error *ngIf="this.form.controls.clientInsert.controls.clientPhoneNumber.hasError('pattern')">
          Nije ispravan unos broja mobitela
        </mat-error>
        <mat-error *ngIf="this.form.controls.clientInsert.controls.clientPhoneNumber.hasError('required')">
          Ovo je obavezno polje
        </mat-error>
      </mat-form-field>
    </ng-container>

    <mat-form-field class="full-width">
      <mat-label>Soba</mat-label>
      <mat-select formControlName="roomId">
        <ng-container>
          <mat-option *ngFor="let room of codebooks['rooms']"
                      [value]="room.id">
            {{room.name}}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        Ovo je obavezno polje
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Datum nocenja</mat-label>
      <mat-date-range-picker #reservationDateRange></mat-date-range-picker>
      <mat-date-range-input [rangePicker]="reservationDateRange">
        <input matStartDate
               formControlName="reservationDateFrom">
        <input matEndDate
               formControlName="reservationDateTo">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="reservationDateRange" matSuffix></mat-datepicker-toggle>
      <mat-error>
        Ovo je obavezno polje
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" mat-button>Odustani</button>
  <button (click)="onConfirm()" cdkFocusInitial mat-button>Spremi</button>
</div>
