<div>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>ID klijenta</th>
      <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
    </ng-container>

    <ng-container matColumnDef="clientNationalId">
      <th mat-header-cell *matHeaderCellDef>Nacionalni ID klijenta</th>
      <td mat-cell *matCellDef="let element"> {{element.clientNationalId}} </td>
    </ng-container>

    <ng-container matColumnDef="clientPhoneNumber">
      <th mat-header-cell *matHeaderCellDef>Mobilni broj klijenta</th>
      <td mat-cell *matCellDef="let element"> {{element.clientPhoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="clientFirstName">
      <th mat-header-cell *matHeaderCellDef>Ime klijenta</th>
      <td mat-cell *matCellDef="let element"> {{element.clientFirstName}} </td>
    </ng-container>

    <ng-container matColumnDef="clientLastName">
      <th mat-header-cell *matHeaderCellDef>Prezime klijenta</th>
      <td mat-cell *matCellDef="let element"> {{element.clientLastName}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell
          *matCellDef="let element">
        <button (click)="onUpdateEntity(element)"
                color="primary"
                mat-mini-fab>
          <mat-icon>settings</mat-icon>
        </button>&nbsp;
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        mat-row></tr>
  </table>
</div>
