<h1 mat-dialog-title>Uredi rezervaciju s ID-jem {{inputData.reservationId}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" *ngIf="codebooks$ | async as codebooks">
    <mat-form-field class="full-width">
      <mat-label>Soba</mat-label>
      <mat-select formControlName="roomId">
        <mat-option *ngFor="let room of codebooks['rooms']"
                    [value]="room.id">
          {{room.name}}
        </mat-option>
      </mat-select>
      <mat-error>
        Ovo je obavezno polje
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Datum rezervacije</mat-label>
      <mat-date-range-picker #reservationDateRange></mat-date-range-picker>
      <mat-date-range-input [rangePicker]="reservationDateRange">
        <input matStartDate
               formControlName="reservationDateFrom">
        <input matEndDate
               formControlName="reservationDateTo">
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="reservationDateRange" matSuffix></mat-datepicker-toggle>
      <mat-error>
        Ovo je obavezno polje
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Status</mat-label>
      <mat-select formControlName="reservationStatusId">
        <ng-container>
          <mat-option *ngFor="let status of codebooks['reservationStatuses']"
                      [value]="status.id">
            {{status.name}}
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-error>
        Ovo je obavezno polje
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="onCancel()" mat-button>Odustani</button>
  <button (click)="onConfirm()" cdkFocusInitial mat-button>Spremi</button>
</div>
