<mat-toolbar>
  <div class="toolbar-container">
    <a [routerLink]="['/rooms']">
      Sobe
    </a>
    <a [routerLink]="['/reservations']">
      Rezervacije
    </a>
    <a [routerLink]="['/overnight-stays']">
      Noćenja
    </a>
    <a [routerLink]="['/clients']">
      Klijenti
    </a>
    <button [matMenuTriggerFor]="configurationMenu"
            mat-flat-button>
      <mat-icon>settings</mat-icon>
      <span>Konfiguracija</span>
    </button>
  </div>
</mat-toolbar>


<mat-menu #configurationMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>bed</mat-icon>
    <span>Kategorije kreveta soba</span>
  </button>
  <button mat-menu-item>
    <mat-icon>paid</mat-icon>
    <span>Kategorije kavlitete soba</span>
  </button>
  <button mat-menu-item>
    <mat-icon>room_preferences</mat-icon>
    <span>Kategorija soba</span>
  </button>
</mat-menu>
