<h1 mat-dialog-title>{{inputData.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="dialogForm">
    <div formArrayName="formArray">
      <ng-container *ngFor="let column of inputData.formInfo; let i = index" [ngSwitch]="column.type">
        <mat-form-field *ngSwitchCase="formType.NUMBER"
                        class="full-width">
          <mat-label>{{column.name}}</mat-label>
          <input [formControlName]="this.controlIndex[i]"
                 matInput
                 type="number">
          <mat-error *ngIf="this.formArray.controls[this.controlIndex[i]].hasError('required')">
            Ovo polje je obavezno
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="formType.STRING"
                        class="full-width">
          <mat-label>{{column.name}}</mat-label>
          <input [formControlName]="this.controlIndex[i]"
                 matInput
                 type="text">
          <mat-error *ngIf="this.formArray.controls[this.controlIndex[i]].hasError('required')">
            Ovo polje je obavezno
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="formType.CODEBOOK"
                        class="full-width">
          <mat-label>{{column.name}}</mat-label>
          <mat-select [formControlName]="this.controlIndex[i]">
            <!--            <ng-container *ngIf="codebooks$ | async as codebooks">-->
            <!--              <mat-option *ngFor="let option of codebooks[column.codebookName!]"-->
            <!--                          [value]="option.id">{{option.name}}</mat-option>-->
            <!--            </ng-container>-->
          </mat-select>
          <mat-error *ngIf="this.formArray.controls[this.controlIndex[i]].hasError('required')">
            Ovo polje je obavezno
          </mat-error>
        </mat-form-field>


        <mat-form-field *ngSwitchCase="formType.DATE"
                        class="full-width">
          <mat-label>{{column.name}}</mat-label>
          <input [formControlName]="this.controlIndex[i]"
                 [matDatepicker]="datePicker"
                 matInput>
          <mat-datepicker-toggle [for]="datePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-error *ngIf="this.formArray.controls[this.controlIndex[i]].hasError('required')">
            Ovo polje je obavezno
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="formType.DATE_RANGE"
                        class="full-width">
          <mat-label>{{column.name}}</mat-label>
          <mat-date-range-input [rangePicker]="rangePicker">
            <input [formControlName]="this.controlIndex[i]" matStartDate
                   placeholder="Start date">
            <input [formControlName]="this.controlIndex[i]-1" matEndDate
                   placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle [for]="rangePicker" matSuffix></mat-datepicker-toggle>
          <mat-date-range-picker #rangePicker></mat-date-range-picker>
          <mat-error *ngIf="this.formArray.controls[this.controlIndex[i]].hasError('required') ||
                            this.formArray.controls[this.controlIndex[i]-1].hasError('required')">
            Ovo polje je obavezno
          </mat-error>
        </mat-form-field>

      </ng-container>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button (click)="onNoClick()" mat-button>Odustani</button>
  <button (click)="onSubmitClick()" cdkFocusInitial mat-button>Spremi</button>
</div>
