<div>
  <div class="actions-header">
    <button mat-raised-button
            (click)="onInsertEntity()">
      Dodaj novu rezervaciju
    </button>
  </div>

  <table mat-table
         [dataSource]="dataSource"
         class="mat-elevation-z8"
         *ngIf="codebooks$ | async as codebooks">
    <ng-container matColumnDef="reservationId">
      <th mat-header-cell *matHeaderCellDef>ID rezervacije</th>
      <td mat-cell *matCellDef="let element"> {{element.reservationId}} </td>
    </ng-container>

    <ng-container matColumnDef="clientId">
      <th mat-header-cell *matHeaderCellDef>ID klijenta</th>
      <td mat-cell *matCellDef="let element"> {{element.clientId}} </td>
    </ng-container>

    <ng-container matColumnDef="roomId">
      <th mat-header-cell *matHeaderCellDef>Soba</th>
      <td mat-cell
          *matCellDef="let element">
        {{element.roomId | codebook: codebooks['rooms']}}
      </td>
    </ng-container>

    <ng-container matColumnDef="reservationDateFrom">
      <th mat-header-cell *matHeaderCellDef>Datum pocetka rezervacije</th>
      <td mat-cell *matCellDef="let element"> {{element.reservationDateFrom | date}} </td>
    </ng-container>

    <ng-container matColumnDef="reservationDateTo">
      <th mat-header-cell *matHeaderCellDef>Datum kraja rezervacije</th>
      <td mat-cell *matCellDef="let element"> {{element.reservationDateTo | date}} </td>
    </ng-container>

    <ng-container matColumnDef="reservationStatusId">
      <th mat-header-cell *matHeaderCellDef>Status rezervacije</th>
      <td mat-cell
          *matCellDef="let element">
        {{element.reservationStatusId | codebook: codebooks['reservationStatuses']}}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Akcije</th>
      <td mat-cell
          *matCellDef="let element">
        <button (click)="onUpdateEntity(element)"
                color="primary"
                mat-mini-fab>
          <mat-icon>settings</mat-icon>
        </button>&nbsp;
        <button (click)="onDeleteEntity(element)"
                color="primary"
                mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;"
        mat-row></tr>
  </table>
</div>
