<button mat-raised-button (click)="openDialog()">Pick one</button>
<table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

  <ng-container *ngFor="let column of columnsInfo" matColumnDef="{{column.name}}">
    <th *matHeaderCellDef mat-header-cell> {{column.name}} </th>
    <td *matCellDef="let element" mat-cell> {{element[column.name]}} </td>
  </ng-container>

  <tr *matHeaderRowDef="columnNames" mat-header-row></tr>
  <tr *matRowDef="let row; columns: columnNames;" mat-row></tr>
</table>

