<div>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>

    <ng-container *ngFor="let entry of tableInfo | keyvalue" matColumnDef="{{entry.key}}">
      <th *matHeaderCellDef
          mat-header-cell>
        {{entry.value.name}}
      </th>
      <ng-container [ngSwitch]="entry.value.type">
        <ng-container *ngSwitchCase="dataType.DATE">
          <td *matCellDef="let element"
              mat-cell>
            {{element[entry.key] | date}}
          </td>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <td *matCellDef="let element"
              mat-cell>
            {{element[entry.key]}}
          </td>
        </ng-container>
      </ng-container>
    </ng-container>

    <tr *matHeaderRowDef="tableKeys"
        mat-header-row></tr>
    <tr *matRowDef="let row; columns: tableKeys;"
        mat-row></tr>
  </table>
</div>
